* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.wrap {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red;*/
}

header a {
  text-decoration: none;
}

header {
  height: 15vh;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 40%;
  display: flex;
  align-items: center;
  height: 15vh;
  margin-left: 3%;
}

.logo img {
  height: 60%;
}

.logo h1 {
  font-size: 7rem;
  color: #003399;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 8%;
}

section {
  /*height: 1000px;*/
  padding-bottom: 5rem;
  background: rgba(65, 63, 63, 0.067);
}

.wrap_tilo {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: minmax(55rem, 60rem) 30%;
  grid-template-areas:
    "blog contact"
    "blog claim";
  /*  border: 1px solid #56719c;*/
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  /* border: 1px solid red;*/
  grid-area: blog;
}

.blogs {
  margin-top: 50px;
  margin-left: 50px;
  min-width: 300px;
  max-width: 300px;
  min-height: 250px;
  max-height: 250px;
  border: 1px solid #56719c;
  border-radius: 1.5rem;
  position: relative;
  text-align: center;
  padding: 0rem 1rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.blogs:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  /* box-shadow: inset 0px -300px 50px rgba(0, 0, 0, 0.25);*/

}

.blogs:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-shadow: inset 0px -25px 35px rgba(255, 255, 255, 1);

}

.blogs:hover {
  box-shadow: 0 5px 10px rgba(33, 14, 209, 0.15),
    0 5px 10px rgba(41, 28, 223, 0.12);
}

.contact {
  grid-area: contact;
  /*display: grid;*/
  margin-top: 5rem;
  height: 75%;
  /* width: 100%;*/
  min-width: 200px;
  max-width: 250px;
  padding: 0 3rem;
  position: relative;
  /* box-shadow:
   -20px 20px 0 -17px rgb(243, 241, 241),
   20px -20px 0 -17px rgb(243, 241, 241),
   20px 20px 0 -20px #003399,
   0px 0 0 2px #999;
   box-shadow:
  -20px -20px 0 -17px rgb(243, 241, 241),
   20px 20px 0 -17px rgb(243, 241, 241),
   0px 0px 0px 2px #999;*/
  box-shadow: 0px 40px 0 2px rgb(243, 241, 241),
    0px -40px 0 -35px rgb(243, 241, 241), 0px 0px 0px 2px #003399;
  justify-self: right;
  max-height: 50rem;
}

.contact h2 {
  font-size: 2rem;
  padding: 0;
}

.contact pre {
  font-size: 1.6rem;
  display: block;
  margin-left: 0;
}

.contact a {
  font-size: 1.6rem;
  /*  text-decoration: none;*/
  color: #000;
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}

/*.frame {
    padding: 0;
    position: absolute;
   width: 100%;
    height: 50%;
    bottom: 0;
    /*text-align: none;
}*/
iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

footer {
  /*height: 12vh;*/
  border-top: 1px solid rgba(65, 63, 63, 0.067);
  font-size: 2rem;
  padding-bottom: 0.5rem;
  background: rgba(65, 63, 63, 0.067);
}

.wrap_footer {
  width: 50%;
  margin: 0 auto;
  line-height: 1.5rem;
  text-align: center;
}

.wrap_footer p {
  font-size: 2.5rem;
}

.blogs a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  left: 0;
}

.blogs h3 {
  font-size: 2.2rem;
  color: white;
  font-weight: 700;
}

.blogs p {
  z-index: 99;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.blogs img {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blogs .mask {
  position: absolute;
  z-index: -5;
  left: 0;
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;

}

.claim {
  display: grid;
  grid-area: claim;
  border: 3px solid #56719c;
  border-radius: 1rem;
  max-height: 37rem;
  min-width: 30rem;
  max-width: 30rem;
  justify-self: self-end;
  text-align: center;

}

.claim h3 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.claim_one {
  /* border: 1px solid #003399; */
  width: 90%;
  height: 10%;
  margin: 0rem auto;
  display: inline-block;
}

.textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #003399;
  margin: 0rem auto;
  display: inline-block;
  resize: none;
  border-radius: 1rem;
}

.input {
  height: 3rem;
  border: 1px solid #003399;
  display: inline-block;
  border-radius: 1rem;
  width: 68%;
  resize: none;
  margin: 0rem auto;
}

.claim_two {
  width: 90%;
  margin: 1rem auto;
  resize: none;
}

.button_form {
  color: white;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3b4453;
  height: 3rem;
  width: 29%;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}