/* -----------------------------------------------------------*/ 
.blog1 {
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%;
/*border: 1px solid red;*/
  grid-area: blog;
}

.blogs1 {
  margin-top: 50px;
  border: 2px solid #56719c;
  border-radius: 1.5rem;
  text-align: center;
  padding: 0rem 4rem;
  width: 90%;
}

.blogs1 h3 {
  font-size: 3rem;
}

.blogs1 p {
  font-size: 1.6rem;
}
/*-------------------------------------------------------------*/
 .wrap_tilo {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: minmax(55rem, 60rem) 1fr 1fr;
  grid-template-areas:
    "blog contact"
    "blog img"
    "blog claim";
    
} 
.block_img{
  grid-area: img;
  overflow: hidden;
  position: relative;
  width: 37rem;
  height: 25rem;
  margin-bottom: 7rem;
  justify-self: end;
  background-position: center;
}
.block_img img{
  left: 0;
  top: 0;
} 