*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
section{
    background: #e6e6e6;
    height: 100vh;
    padding-top: 5rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: 50rem;
    border: 3px solid #56719c;
    border-radius: 2rem;
    margin: 0px auto;
    align-items: center;
}
.input,.textarea{
    width: 90%;
    margin-top: 2rem;
    border: none;
}
.input{
    height: 3rem;
}
.textarea{
    height: 70%;
    resize: none;
}
button{
    margin-top: 2rem;
    background: #5ed6f4;
    border: none;
    color: white;
    height: 3rem;
    width: 15rem;
    cursor: pointer;
    outline: none;
}
@media (max-width: 991px) {
    form{
        width: 40rem;
        height: 45rem;
    }
    section{
        padding-top: 1rem;
    }
} 
@media (max-width: 424px) {
    form{
        width: 30rem;
    }
}